<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Control de Acceso</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
     <!--CARGA DE HOJAS DE ESTILOS-->
    
    <link rel="stylesheet" href="/css/bootstrap.min.css"/ type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/matrix-login.css" type="text/css"/>
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

<!--INICIO: SECCIÓN DE CONTENIDO-->
<div id="loginbox">
    <!--INICIO: FORMULARIO DE "INICIO DE SESIÓN"-->     
    <form id="loginform" class="form-vertical" action="index.html">
        <div class="control-group normal_text"> <h3><img src="img/logo.png" alt="SICIMEC" /></h3></div>
        
        <!--INICIO: SECCIÓN "NOMBRE DE USUARIO"-->
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="Nombre de Usuario" />
                </div>
            </div>
        </div>
        <!--FIN: SECCIÓN "NOMBRE DE USUARIO"-->
        
        <!--INICIO: SECCIÓN "CONTRASEÑA"-->  
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="Contraseña" />
                </div>
            </div>
        </div>
        <!--FIN: SECCIÓN "CONTRASEÑA"-->
              
        <!--INICIO: BOTONERA-->
        <div class="form-actions">
            <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">Olvidé mi contraseña</a></span>
            <span class="pull-right"><a type="submit" href="../index.html" class="btn btn-success"> Iniciar Sesión</a></span>
        </div>
        <!--FIN: BOTONERA-->
        
    </form>
    <!--FIN: FORMULARIO DE "INICIO DE SESIÓN"-->
    
    <!--INICIO: FORMULARIO DE "RECUPERACIÓN DE CUENTA"-->        
    <form id="recoverform" action="#" class="form-vertical">
	    <p class="normal_text">Ingresa tu dirección de correo electrónico y nosotros te enviaremos instrucciones de como recuperar tu contraseña</p>
			
        <!--INICIO: SECCIÓN "CORREO DE RECUPERACIÓN"-->	
        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="Dirección de Correo Electrónico" />
            </div>
        </div>
        <!--FIN: SECCIÓN "CORREO DE RECUPERACIÓN"-->
        
        <!--INICIO: BOTONERA (RECUPERACIÓN)-->
        <div class="form-actions">
            <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Volver</a></span>
            <span class="pull-right"><a class="btn btn-info">Recuperar</a></span>
        </div>
        <!--FIN: BOTONERA (RECUPERACIÓN)-->
    </form>
    <!--FIN: FORMULARIO DE "RECUPERACION DE CUENTA"-->
</div>
<!--FIN: SECCIÓN DE CONTENIDO-->      
          
<!--INICIO: IMPORTACIÓN DE SCRIPTS-->
<script src="../js/jquery.min.js"></script>  
<script src="../js/matrix.login.js"></script>
<!--FIN: IMPORTACIÓN DE SCRIPTS-->
</body>
</html>