    <!--INICIO: FOOTER-->
    <div class="row-fluid">
      <div id="footer" class="span12"> 2018 &copy; SICIMEC V1 | CBTIS 085 | <a href="http://www.cbtis085.org">www.cbits085.org</a> </div>
    </div>
    <!--FIN: FOOTER--> 
             
    <!--INICIO: IMPORTACIÓN DE SCRIPTS-->
    <script src="../../js/jquery.min.js"></script> 
    <script src="../../js/jquery.ui.custom.js"></script> 
    <script src="../../js/bootstrap.min.js"></script> 
    <script src="../../js/jquery.uniform.js"></script> 
    <script src="../../js/select2.min.js"></script> 
    <script src="../../js/jquery.dataTables.min.js"></script> 
    <script src="../../js/matrix.js"></script> 
    <script src="../../js/matrix.tables.js"></script> 
    <script src="../js/matrix.login.js"></script>
    <script src="../../js/select2.min.js"></script>
    <!--FIN: IMPORTACIÓN DE SCRIPTS-->

    </body>
</html>